.register_form {
  text-align: center;
}

.register_form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0.625rem auto;
  max-width: 900px;
  gap: 0.625rem;
}

.register label,
.register_asso label {
  color: var(--color-black);
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.063rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.register input[type="text"],
.register input[type="password"],
.register input[type="email"],
.register textarea,
.register_asso input[type="text"],
.register_asso input[type="password"],
.register_asso input[type="email"],
.register_asso textarea,
.app-backoffice-container input[type="text"],
.app-backoffice-container input[type="date"],
.app-backoffice-container input[type="time"],
.app-backoffice-container input[type="email"],
.app-backoffice-container input[type="number"],
.app-backoffice-container textarea[type="text"],
#job_select,
.modifProfil-card-container input[type="password"],
.modifProfil-card-container input[type="text"] {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin: 0 auto;
  outline: none;
}
.form-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

.register input[type="text"]:focus,
.register input[type="email"]:focus,
.register input[type="password"]:focus,
.register textarea:focus,
.register_asso input[type="text"]:focus,
.register_asso input[type="password"]:focus,
.register_asso input[type="email"]:focus,
.register_asso textarea:focus,
.app-backoffice-container input[type="text"]:focus,
.app-backoffice-container input[type="date"]:focus,
.app-backoffice-container input[type="time"]:focus,
.app-backoffice-container input[type="email"]:focus,
.app-backoffice-container input[type="number"]:focus,
.app-backoffice-container textarea[type="text"]:focus,
#job_select:focus,
.modifProfil-card-container input[type="password"]:focus {
  border-color: var(--color-interaction);
}

.register label:focus {
  transform: translateY(-125%);
  font-size: 0.75em;
}

.register textarea,
.register_asso textarea {
  resize: none;
  height: 11.25rem;
}

/* .back {
  padding-bottom: 5rem;
} */

.register input[type="submit"],
.register_asso input[type="submit"] {
  margin: auto;
  padding-top: 0.125rem;
}

.register h1,
.register_asso h1 {
  font-size: 1.8rem;
  color: var(--color-black);
}

.form_upload {
  background-color: white;
}

.upload_icon {
  color: var(--color-highlight);
  font-size: 3.125rem;
}

#upload_files {
  visibility: "hidden";
}

.form_upload label {
  cursor: pointer;
  border-radius: 0.6rem;
}

.form_upload input {
  display: none;
}

.green {
  color: green;
}

.red {
  color: red;
}

.form_upload h2 {
  text-decoration: underline;
  padding-bottom: 1rem;
}

.show {
  visibility: visible;
}
.hide {
  visibility: hidden;
}
.form-inter-box-files {
  border-bottom: 0.3rem solid #f0f2f5;
}

@media screen and (min-width: 768px) {
  .box_form {
    display: flex;
    justify-content: space-around;
  }

  .register input[type="text"],
  .register input[type="password"],
  .register input[type="email"],
  .register_asso input[type="text"],
  .register_asso input[type="email"],
  .register_asso input[type="password"] {
    width: 20rem;
    padding: 0.3rem 1.2rem;
  }

  .register_asso input[type="text"],
  .register_asso input[type="email"] {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .register_form {
    background-color: var(--color-grey);
    display: flex;
    border: 0.125rem solid var(--color-interaction);
    border-radius: 0.6rem;
  }

  .register_asso .register_form {
    border-color: var(--color-line-asso);
  }

  .register textarea,
  .register_asso textarea {
    resize: none;
    height: 11.25rem;
    width: 86%;
  }

  .register_asso input[type="text"],
  .register_asso input[type="email"] {
    width: 86%;
  }

  .form_upload {
    padding: 2rem 0 2rem;
  }

  .submit_button {
    padding-bottom: 3rem;
  }

  .register_form h1 {
    padding-top: 2rem;
  }
}
