.modifProfil {
  text-align: center;
}

.modifProfil-card-container {
  max-width: 500px;
  padding: 1rem;
  margin: 1rem auto;
  overflow: hidden;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.modifProfil-h2 {
  margin: 1rem auto;
}

.modifProfil-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.modifProfil-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.modifProfil-container {
  width: 100%;
  padding-top: 1rem;
}
.modif-profil-show-password-check {
  display: flex;
  padding-bottom: 1rem;
  gap: 0.5rem;
}
.modifProfil-input-container {
  display: flex;
  width: 60%;
  gap: 0.6rem;
}

/* .modifProfil-input input[type="text"],
.modifProfil-input input[type="password"] {
  padding: 0 0.2rem;
  width: 100%;
} */

.modifProfil-icon-container {
  display: flex;
  align-items: center;
}

.modifProfil-icon {
  line-height: 1px;
}

@media screen and (min-width: 1200px) {
  .modifProfil-card-container {
    width: 80%;
  }
}
